doctype html

html
  head
    title Galeli biographie
    include includes/_head
  body
    .out
      include includes/_header
      .page-bg.is-blur.js-page-bg-height
        .out-page
          .container-fluid
            .row
              .col-md-4.col-sm-4.col-xs-12.static-768
                .sidebar
                  .autor
                    .autor-title
                      .autor-title-in
                        p mike galeli
                    .autor-note official website
                .nav-wrap.is-active
                  i.nav-ico.js-nav
                  .nav(style="display: block;")
                    ul.nav-ul
                      li.nav-item
                        span.nav-link.is-active BIOGRAPHIE
                      li.nav-item
                        a(href="#").nav-link FILMOGRAPHIE
                      li.nav-item.has-dropdown
                        a(href="#").nav-link VIDEOS
                        ul.sub-nav
                          li.sub-nav-item
                            a(href="#").sub-nav-link TV | FILME
                          li.sub-nav-item
                            a(href="#").sub-nav-link WERBESPOTS
                          li.sub-nav-item
                            a(href="#").sub-nav-link MAKING OF
                      li.nav-item
                        a(href="#").nav-link FOTOS
                      li.nav-item
                        a(href="#").nav-link KONTAKT
              .col-md-8.col-sm-8.col-xs-12
                .page
                  .biographie-wrap
                    article.biographie
                      .biographie-media
                        img(src="img/biographie.jpg", alt="")
                      .biographie-descr
                        .biographie-title Biographie
                        .biographie-content
                          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dolore excepturi quis quam, ex recusandae minima, illum ea reiciendis laudantium numquam? Dignissimos temporibus nam, pariatur obcaecati aliquam, sequi illum excepturi.
                          p 1989  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ab nisi ad harum, iusto asperiores quia unde non consectetur! Blanditiis accusamus, nisi! Quod repellat, facilis animi consectetur quibusdam deleniti sequi.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente debitis et perspiciatis tenetur delectus ut exercitationem quaerat, earum ex consequuntur obcaecati reprehenderit atque dolorem reiciendis magni quia amet. Commodi, soluta!
                      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptatum officia aperiam alias sapiente quo eveniet. Earum quisquam explicabo doloribus. Libero sed, dolorum aperiam minus, eum consectetur aspernatur quibusdam nulla atque molestias iure. Nihil omnis consequuntur dolorum quod impedit laboriosam, totam expedita earum rerum labore aut laudantium, ex necessitatibus harum.
                      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptatum officia aperiam alias sapiente quo eveniet. Earum quisquam explicabo doloribus. Libero sed, dolorum aperiam minus, eum consectetur aspernatur quibusdam nulla atque molestias iure. Nihil omnis consequuntur dolorum quod impedit laboriosam, totam expedita earum rerum labore aut laudantium, ex necessitatibus harum.
                      p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quam fugit odit ea, officia omnis culpa, impedit, tenetur ratione deleniti placeat rem. Reiciendis eveniet similique, corporis tempora officia architecto veritatis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptatum officia aperiam alias sapiente quo eveniet. Earum quisquam explicabo doloribus. Libero sed, dolorum aperiam minus, eum consectetur aspernatur quibusdam nulla atque molestias iure. Nihil omnis consequuntur dolorum quod impedit laboriosam, totam expedita earum rerum labore aut laudantium, ex necessitatibus harum.
                      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptatum officia aperiam alias sapiente quo eveniet. Earum quisquam explicabo doloribus. Libero sed, dolorum aperiam minus, eum consectetur aspernatur quibusdam nulla atque molestias iure. Nihil omnis consequuntur dolorum quod impedit laboriosam, totam expedita earum rerum labore aut laudantium, ex necessitatibus harum.
                  
                  .date
                    .date-title Auszeichnungen
                    ul.date-list
                      li.date-item
                        span.date-left 2011
                        span.date-right 3.  Lorem ipsum dolor sit amet, consectetur adipisicing.
                      li.date-item
                        span.date-left 2008
                        span.date-right  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam saepe autem asperiores?
                      li.date-item
                        span.date-left 1996
                        span.date-right   Lorem ipsum dolor sit amet.
                      li.date-item
                        span.date-left 1995
                        span.date-right   Lorem ipsum dolor sit
                      li.date-item
                        span.date-left 1994
                        span.date-right   Lorem ipsum dolor
                      li.date-item
                        span.date-left 1990
                        span.date-right   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam saepe
                      li.date-item
                        span.date-left 1989
                        span.date-right   Lorem ipsum dolor sit amet, consectetur



    include includes/_footer
    script(data-headjs-load='js/init.js', src='js/lib/head.js')
