doctype html

html
  head
    title Galeli details
    include includes/_head
  body
    .out
      include includes/_header
      .page-bg.js-page-bg-height
        .out-page
          .container-fluid
            .row
              .col-md-4.col-sm-4.col-xs-12.static-768
                .sidebar
                  .autor
                    .autor-title
                      p mike <br/> galeli
                    .autor-note official website
                .nav-wrap
                  i.nav-ico.js-nav
                  .nav
                    ul.nav-ul
                      li.nav-item
                        a(href="#").nav-link BIOGRAPHIE
                      li.nav-item
                        a(href="#").nav-link FILMOGRAPHIE
                      li.nav-item.has-dropdown
                        a(href="#").nav-link VIDEOS
                        ul.sub-nav
                          li.sub-nav-item
                            a(href="#").sub-nav-link TV | FILME
                          li.sub-nav-item
                            a(href="#").sub-nav-link WERBESPOTS
                          li.sub-nav-item
                            a(href="#").sub-nav-link MAKING OF
                      li.nav-item
                        a(href="#").nav-link FOTOS
                      li.nav-item
                        a(href="#").nav-link KONTAKT
              .col-md-8.col-sm-8.col-xs-12
                .page
                  article.article
                    .article-media
                      img(src="img/article1.jpg", alt="")
                    .article-descr
                      .article-top
                        span.article-top-title Vatan
                        span.article-top-year 2008
                      .article-meta Kurzfilm zum 163. Lorem ipsum dolor sit
                      .article-content
                        | lorem ipsum dolor sit amet, consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est. 
                  article.article
                    .article-media
                      img(src="img/article2.jpg", alt="")
                    .article-descr
                      .article-top
                        span.article-top-title Vatan
                        span.article-top-year 2008
                      .article-meta Kurzfilm zum 163. Lorem ipsum dolor sit
                      .article-content
                        | lorem ipsum dolor sit amet, consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est. 
                  article.article
                    .article-media
                      img(src="img/article3.jpg", alt="")
                    .article-descr
                      .article-top
                        span.article-top-title Vatan
                        span.article-top-year 2008
                      .article-meta Kurzfilm zum 163. Lorem ipsum dolor sit
                      .article-content
                        | lorem ipsum dolor sit amet, consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est. 


    include includes/_footer
    script(data-headjs-load='js/init.js', src='js/lib/head.js')
