doctype html

html
  head
    title Galeli index
    include includes/_head
  body
    .out
      include includes/_header
      .page-bg.js-page-bg-height
        .out-page
          .container-fluid
            .row
              .col-md-4.col-sm-4.col-xs-12.static-768
                .sidebar
                  .autor
                    .autor-title
                      p mike <br/> galeli
                    .autor-note official website
                .nav-wrap
                  i.nav-ico.js-nav
                  .nav
                    ul.nav-ul
                      li.nav-item
                        a(href="#").nav-link BIOGRAPHIE
                      li.nav-item
                        a(href="#").nav-link FILMOGRAPHIE
                      li.nav-item.has-dropdown
                        a(href="#").nav-link VIDEOS
                        ul.sub-nav
                          li.sub-nav-item
                            a(href="#").sub-nav-link TV | FILME
                          li.sub-nav-item
                            a(href="#").sub-nav-link WERBESPOTS
                          li.sub-nav-item
                            a(href="#").sub-nav-link MAKING OF
                      li.nav-item
                        a(href="#").nav-link FOTOS
                      li.nav-item
                        a(href="#").nav-link KONTAKT
              .col-md-8.col-sm-8.col-xs-12
                .page
                  p 2  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati minus rerum non ab veritatis officiis, repellat quam et sed tempora, maiores quod impedit aliquid voluptatibus libero ipsam, unde natus, perspiciatis!
      
    include includes/_footer
    script(data-headjs-load='js/init.js', src='js/lib/head.js')
