.container-fluid
  .row
    .col-md-12
      footer.footer
        .footer-in
          ul.social
            li.social-item
              a(href="#").social-ico.fb
            li.social-item
              a(href="#").social-ico.xz
          .copy 
            a(href="#") IMPRESSUM