//- HEADER
.container-fluid
  .row
    .col-md-12
      header.header
        ul.lang
          li.lang-item
            a(href="#").lang-item-link.is-active DE
          li.lang-item
            a(href="#").lang-item-link EN